[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
watchdog = "<0.10"

[packages]
gunicorn = "*"
stellar-sdk = {editable = true, ref = "sep10-client-attribution", git = "https://github.com/JakeUrban/py-stellar-base.git"}
django-polaris = {path = "/code", editable = true}

[requires]
python_version = "3.7"
